html{
    font-family: Helvetica;
    margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
	margin-bottom: 100px;
    width: 900px;
	background-color: #81A07E;

}
.infotext{
    border:2px solid rgba(255, 252, 233, 0.976);
    background-color: rgba(255, 252, 233, 0.976);
    margin-bottom: 200px;
    padding: 15px;
	border-radius: 18px;
	color: #4B4F58;
	text-align: center;
}
.name p{
	padding-top: 50px;
	font-size: 30px;
	font-weight: 100;
	margin-bottom: 70px;
}

.impressum a{
	padding-top: 50px;
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 200px;
	color: black;
}

.header2 a{
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 70px;
	font-weight: 100;
	color:  rgb(255, 252, 233, 0.976);
}

h1{
    font-size: 170px;
}

.header p {
	color: rgb(255, 252, 233, 0.976);
	display: flex; 
    	justify-content: center; 
    	align-items: center;
	margin-bottom: 50px;
}

.header a {
	color: rgb(255, 252, 233, 0.976);
	display: flex; 
    	justify-content: center; 
    	align-items: center;
	margin-bottom: 50px;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 1rem;
	box-sizing: content-box;
	border:2px solid rgba(255, 252, 233, 0.976);
    	background-color: rgba(255, 252, 233, 0.976);
    	margin-bottom: 200px;
    	padding: 15px;
	border-radius: 18px;
	color: #4B4F58;
	text-align: center;
	
}

.ueberschrift p{
	margin-top: -100px;
	color: rgb(255, 252, 233, 0.976);
	text-align: center;
}

.centere {
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 150px;
	padding-bottom: 150px;
  }

.flex { 
    display: flex; 
    justify-content: center; 
    align-items: center;
	margin-bottom: 50px;
  }
.inforaum {
	border:2px solid#4B4F58;
    background-color:#4B4F58;
	color: rgb(255, 252, 233, 0.976);
    margin-bottom: 200px;
	
    padding: 15px;
	border-radius: 18px;
	text-align: center;
}

.bildunterschrift {
	color: #4B4F58;
	margin-top: 20px;
	border:2px solid rgba(255, 252, 233, 0.976);
    background-color: rgba(255, 252, 233, 0.976);
    margin-bottom: 200px;
    padding: 15px;
	border-radius: 18px;
	opacity: 70%;
}
.bildunterschrift2 {
	color: #4B4F58;
	margin-top: 20px;
	border:2px solid rgba(255, 252, 233, 0.976);
    background-color: rgba(255, 252, 233, 0.976);
    margin-bottom: 200px;
    padding: 15px;
	border-radius: 18px;
}
.buchung {
	border:2px solid#4B4F58;
    background-color:#4B4F58;
	color: rgb(255, 252, 233, 0.976);;
    margin-bottom: 200px;
	margin-top: 50px;
    padding: 15px;
	border-radius: 18px;
	text-align: center;
}

h3{
	text-align: center ;
	color: rgb(255, 252, 233, 0.976); 
}

table {
	border-collapse: collapse;
	background: rgb(255, 252, 233, 0.976);
	color: #4B4F58;
	margin-bottom: 100px;
}

th,td {
	font-weight: 200;
}

.ausgebucht{
	color:red;
}

